<%= form_with model: @message do |form| %>
  <div class="container mt-4 mx-4">
    <div>
      <%= form.label :chat_id, "Chat" %>
      <%= form.select :chat_id, Chat.all.collect { |c| ["Chat ##{c.id}", c.id] } %>
      <p></p>
    </div>
  
    <div>
      <%= form.label :user_id, "Author" %>
      <%= form.select :user_id, User.all.collect { |u| [u.email, u.id] } %>
      <p></p>
    </div>
  
    <div>
      <%= form.label :body, "Message" %>
      <%= form.text_area :body, placeholder: "Write your message...", class: "form-control" %>
      <p>
      </p>
    </div>
  
    <div>
      <%= form.submit "Send", class:"btn btn-success" %>
    </div>
  </div>
<% end %>