<div class="container mt-2 mx-1">
    <h1 class="text-center">Messages</h1>
</div>

<body>
    <div class="container mt-4 mx-4">
        <table border="1" class="table table-secondary table-striped">
        <thead>
            <tr>
            <th>Chat ID</th>
            <th>User ID</th>
            <th>Body</th>
            <th>More Information</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <% @messages.each do |message| %>
            <tr>
                <td><%= message.chat_id %></td>
                <td><%= message.user_id %></td>
                <td><%= message.body %></td>
                <td><%= link_to 'View', message_path(message), class:"btn btn-success" %></td>
                <td><% if can? :edit, message %>
                <%= link_to 'Edit', edit_message_path(message), class:"btn btn-success" %><% end %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to 'New message', new_message_path, class:"btn btn-success" %>
    <p></p>
    </div>
</body>