<div class="container mt-2 mx-1">
    <h1>Message from chat number <%= @message.chat_id %></h1>
</div>

<div class="container mt-4 mx-4">
    <p><strong>Message ID: </strong><%= @message.id %></p>

    <p><strong>Chat ID: </strong><%= @message.chat_id %></p>

    <p><strong>User ID: </strong><%= @message.user_id %></p>

    <p><strong>Author:</strong> <%= @message.user.first_name %></p>

    <p><strong>Body: </strong><%= @message.body %></p>

    <p><strong>Creation Date: </strong><%= @message.created_at.strftime("%B %d, %Y %H:%M") %></p>

    <p><strong>Last Update: </strong><%= @message.updated_at.strftime("%B %d, %Y %H:%M") %></p>
    <p></p>
    
    <p></p>
    <%= link_to 'Back', messages_path, class: "btn btn-success" %>
    <%= link_to 'Edit', edit_message_path, class: "btn btn-success" %>
    <%= link_to 'New message', new_message_path, class:"btn btn-success" %>
    
</div>