<%= form_with model: @chat do |form| %>
  <div class="container mt-4 mx-4">

    <div>
      <%= form.label :receiver_id, "Receiver" %>
      <%= form.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :email %>
      <p>
      </p>
    </div>
  
    <div>
      <%= form.submit "Confirm", class:"btn btn-success"%>
      <%= link_to 'Back to index', chats_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>