<div class="container mt-2 mx-1">
    <h1>Chat number <%= @chat.id %></h1>
</div>

<div class="container mt-4 mx-4">
    <li>
        ID: <%= @chat.id %>
    </li>
    <li>
        Sender ID: <%= @chat.sender_id %>
    </li>
    <li>
        Last Name: <%= @chat.receiver_id %>
    </li>
    <li>
        Creation Date: <%= @chat.created_at %>
    </li>
    <li>
        Last Update: <%= @chat.updated_at %>
    </li>
    <p></p>
    <%= link_to 'Back', chats_path, class: "btn btn-success" %>
    <%= link_to 'New chat', new_chat_path, class:"btn btn-success" %>
    
</div>