<div class="container mt-2 mx-1">
    <h1>Chat number <%= @chat.id %></h1>
</div>

<div class="container mt-4 mx-4">
    <p><strong>ID:</strong> <%= @chat.id %></p>

    <p><strong>Sender ID:</strong> <%= @chat.sender_id %></p>

    <p><strong>Last Name:</strong> <%= @chat.receiver_id %></p>

    <p><strong>Creation Date:</strong> <%= @chat.created_at.strftime("%B %d, %Y %H:%M") %></p>
    
    <p><strong>Last Update:</strong> <%= @chat.updated_at.strftime("%B %d, %Y %H:%M") %></p>
    <p></p>

    <p><strong>Sent by:</strong> <%= @chat.sender.first_name %> <%= @chat.sender.last_name %></p>
    <p><strong>Received by:</strong> <%= @chat.receiver.first_name %> <%= @chat.receiver.last_name %></p>

    <p><strong>Sent messages:</strong></p>
    <ul>
    <% @chat.messages.each do |message| %>
        <li>
            Chat number <%= message.chat.id %>: 
            <%= message.body %>
        </li>
      <% end %>
    </ul>

    <p></p>
    <%= link_to 'Back', chats_path, class: "btn btn-success" %>
    <% if can? :edit, @chat %>
        <%= link_to 'Edit', edit_chat_path(@chat), class: "btn btn-success" %>
    <% end %>
    <%= link_to 'New chat', new_chat_path, class:"btn btn-success" %>
    
</div>


